body
{
    background-color: bisque;
}
h1{

    color: rgb(111, 199, 33);
    font-family: Fuzzy Bubbles, cursive;
    font-size: 320%;
}
h2{
    box-shadow:   0 0 0 2em #a5c9a2,
    0 0 0 4em #dfef90;
margin: 4em;
padding:1em;
text-align: center;
}
.formulario  .Boton-submit{
    font-size:30px;
    width: 20%;
    outline: none;
    background: #D884D0;
    font-size: 16px;
   border-radius: 40px;
    color: #fff;
    padding: 15px 0;   
}
.formulario .form-edad{
    
    color:  #FF8C00;
    font-size: 40px;
    width: 20%;
    position: relative;
    font-weight: bold;
}


